[commit]
	template = ~/.gitmessage
	gpgsign = true
[user]
	name = Nino Annighoefer
	email = nino@ninoan.com
	signingkey = EA66C4755AD14B29
[core]
	editor = "nvim"
	commentChar = "#"
	attributesfile = /Users/nino/.config/.gitattributes
	pager = delta
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = current
[init]
	defaultBranch = trunk
[alias]
	lb = !git reflog show --pretty=format:'%gs' | grep 'checkout:' | grep -oE ' to (.+)' | perl -pe 's/ to //'
[gpg]
	program = gpg2
[diff "plist"]
	defaulttextconv = plutil -convert xml1 -o -

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections
	side-by-side = true
	dark = false
	light = true
	true-color = never

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = zebra
