**/bundle/*
**/undo
**/bundle
**/node_modules
zsh-update
nvim/.netrwhist
configstore/*
fish
gtk-2.0
fontforge
TheFoundry
wireshark
zsh/zcompdump
texstudio
htop
nyaovim
git/gitk
codeclimate/*
configstore/*
.atom/packages
nvim/CurrentWorkingDirectory.vim
karabiner/automatic_backups/karabiner_20190809.json
karabiner/automatic_backups/karabiner_20190904.json
target
zig-cache
**/Alfred.alfredpreferences/remote/*
exercism
gh/hosts.yml
hub
karabiner/automatic_backups
yarn/global/yarn-error.log
PureRef.ini
**/.ninja_log
**/__pycache__/**
sheepit
.DS_Store
.ipynb_checkpoints
QtProject
scripts/pickfile
StardewValley/**
xnviewmp/xnview.ini
xnviewmp/XnView.db
xnviewmp/Thumb.db
xnviewmp/bookmark.ini
_build
*.opam
iterm2/**
github-copilot
op/

nvim/plugin/packer_compiled.lua
ghc/ghci_history
.unisonHistory
zed/conversations

scripts/compiled
containers
zed/embeddings
flutter
