**/bundle/*
**/undo
**/bundle
**/node_modules
zsh-update
nvim/.netrwhist
configstore/*
fish
gtk-2.0
fontforge
yarn/global
TheFoundry
wireshark
zsh/zcompdump
texstudio
htop
yarn.lock
yarn/global/package.json
nyaovim
git/gitk
codeclimate/*
configstore/*
.atom/packages
nvim/CurrentWorkingDirectory.vim
karabiner/automatic_backups/karabiner_20190809.json
karabiner/automatic_backups/karabiner_20190904.json
target
zig-cache
**/Alfred.alfredpreferences/remote/*
