snippet cr "const require"
const { $1 } = require('$2');
endsnippet

snippet dsc
describe('$1', function() {
  $2
});
endsnippet

snippet it
it('$1', function() {
  $2
});
endsnippet

snippet if
if ($1) {
  $2
}
endsnippet

snippet c
const 
endsnippet
