<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0F8A5440-972D-40C8-8AED-3B6BEEE5E0CF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sg</string>
			<key>text</key>
			<string>Search Sourcegraph for '{query}'</string>
			<key>url</key>
			<string>https://sourcegraph.com/search?q={query}&amp;patternType=literal</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>12F1C595-E77E-4712-A59B-5BE95B72094E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>si</string>
			<key>text</key>
			<string>SourceGraph for {query} in IMMO repo</string>
			<key>url</key>
			<string>https://sourcegraph.com/search?q={query}+repo%3Aimmo-platform&amp;patternType=literal</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3967A3BE-64E8-4240-B904-6FD44DB99040</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>Search NPM for '{query}'</string>
			<key>url</key>
			<string>https://www.npmjs.com/package/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3DC106AE-0C5A-420A-B991-42E43A6593BB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cs</string>
			<key>text</key>
			<string>GitHub CodeSearch</string>
			<key>url</key>
			<string>https://cs.github.com/?scopeName=All+repos&amp;scope=&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>89282B3F-DCC5-4EBF-830F-BD427B035E9B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>j</string>
			<key>text</key>
			<string>Open Jira issue with {query}</string>
			<key>url</key>
			<string>https://immo.atlassian.net/browse/IMMO-{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9D037C67-3342-4C76-99D2-6D3442DBD975</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ca</string>
			<key>text</key>
			<string>Calendar</string>
			<key>url</key>
			<string>https://calendar.google.com</string>
		</dict>
		<key>BEE8351F-24C9-4002-99DB-5DB4ECE36025</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>js</string>
			<key>text</key>
			<string>Search Jira issues for {query}</string>
			<key>url</key>
			<string>https://immo.atlassian.net/issues/?jql=text%20~%20%22{query}%22</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
