<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ninoan.alfred.appshortcuts</string>
	<key>connections</key>
	<dict>
		<key>2D33A05A-380C-4A29-AD77-F4C4E308C3FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A036EF4-FFE6-4818-B9DD-000F47C46ACE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>646480E1-3C70-4662-B61A-943AD2491572</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BB9FF2F-A132-4A23-A11E-5EBA763C8480</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7ABEE663-ED4C-4F0C-B3F3-DE993DE967AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DA2F564-2667-4863-952F-602ADE7714EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A23C5464-91AC-4F69-88A9-592C8C54748C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DEAF42F-DCEB-43A1-8DE3-87B294612F21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B287D397-C39E-46AF-A726-05BDCFD6FCE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>074A1262-070F-4CE1-B878-A197C8AD8437</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA004003-E7BA-480F-AD94-1E221A08B473</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FA88041-1A3A-4967-80AA-83FC406F9C1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nino Annighoefer</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>App Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>r</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Brave</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B287D397-C39E-46AF-A726-05BDCFD6FCE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Brave Browser.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>074A1262-070F-4CE1-B878-A197C8AD8437</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>u</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Sublime Text</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A23C5464-91AC-4F69-88A9-592C8C54748C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Sublime Text.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>3DEAF42F-DCEB-43A1-8DE3-87B294612F21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>a</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Safari</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>646480E1-3C70-4662-B61A-943AD2491572</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>t</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Terminal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA004003-E7BA-480F-AD94-1E221A08B473</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/kitty.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>4FA88041-1A3A-4967-80AA-83FC406F9C1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Safari.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>4BB9FF2F-A132-4A23-A11E-5EBA763C8480</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>l</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Telegram</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7ABEE663-ED4C-4F0C-B3F3-DE993DE967AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Telegram.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>0DA2F564-2667-4863-952F-602ADE7714EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>b</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Obsidian</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D33A05A-380C-4A29-AD77-F4C4E308C3FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Obsidian.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>1A036EF4-FFE6-4818-B9DD-000F47C46ACE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>074A1262-070F-4CE1-B878-A197C8AD8437</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>0DA2F564-2667-4863-952F-602ADE7714EB</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>1A036EF4-FFE6-4818-B9DD-000F47C46ACE</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>2D33A05A-380C-4A29-AD77-F4C4E308C3FC</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>3DEAF42F-DCEB-43A1-8DE3-87B294612F21</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>4BB9FF2F-A132-4A23-A11E-5EBA763C8480</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>4FA88041-1A3A-4967-80AA-83FC406F9C1B</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>646480E1-3C70-4662-B61A-943AD2491572</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>7ABEE663-ED4C-4F0C-B3F3-DE993DE967AA</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>A23C5464-91AC-4F69-88A9-592C8C54748C</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>B287D397-C39E-46AF-A726-05BDCFD6FCE3</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>EA004003-E7BA-480F-AD94-1E221A08B473</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://ninoan.com</string>
</dict>
</plist>
